@model aplikacja_zdjecia_z_wakacji.Models.Post

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}

<h1>Szczegóły zdjęcia</h1>

<br />
<a asp-controller="Photos" asp-action="Index" class="btn btn-primary btn-lg">Wróć</a>
<br />

<div>
    <h3 class="card-text"><small class="text-muted">ID zdjęcia: @Model.Id</small></h3>
    <h3 class="card-title">Nazwa: @Model.Nazwa</h3>
    <p class="card-text"><small class="text-muted">Data: @Model.Data</small></p>
    <p class="card-text">Miejsce: @Model.Miejsce</p>
    <p class="card-text">Opis: @Model.Opis</p>
</div>