@model PagingList<aplikacja_zdjecia_z_wakacji.Models.Photo>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Strona główna</h1>

<br />
<p class="text-center">
    <a asp-controller="Photos" asp-action="Add" class="btn btn-primary btn-lg">Dodaj własne zdjęcie</a>
    <a asp-controller="Photos" asp-action="Statistics" class="btn btn-outline-primary btn-lg">Statystyki</a>
</p>
<br />
@if(Model.Data.Count() == 0) {
    <h3 class="text-center">Brak zdjęć</h3>
    <br />
}

<div class="card-deck">

@for (int i = Model.Data.Count() - 1; i >= 0; i--)
{
    <div class="card text-center">
        <img class="card-img-top" src="@("~/Images/" + @Model.Data[i].FileName)" asp-append-version="true" alt="photo">
        <div class="card-body">
            <h5 class="card-title">@Model.Data[i].Nazwa</h5>
            <p class="card-text"><small class="text-muted">Dodane przez: @Model.Data[i].User @Model.Data[i].Data</small></p>
            <p class="card-text">@Model.Data[i].Miejsce</p>
            <p class="card-text">@Model.Data[i].Opis</p>
        </div>
        <div class="card-body">
            <a asp-controller="Photos" asp-action="Like" asp-route-id=@Model.Data[i].Id class="btn btn-outline-primary">Polub @Model.Data[i].Likes.Count()</a>
            <a asp-controller="Photos" asp-action="AddComment" asp-route-id=@Model.Data[i].Id class="btn btn-success">Dodaj komentarz</a>
            <a asp-controller="Photos" asp-action="SeeComments" asp-route-id=@Model.Data[i].Id class="btn btn-primary">Komentarze</a>
            <a asp-controller="Photos" asp-action="Details" asp-route-id=@Model.Data[i].Id class="btn btn-primary">Szczegóły</a>
        </div>
    </div>
    <br />
}

</div>
<br />

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        @if (Model.IsPrevious)
        {
            <li class="page-item"><a class="page-link" asp-controller="Photos" asp-action="PagedIndex" asp-route-page="@(Model.Number - 1)" asp-route-size="3">&laquo;</a></li>
        }
        else
        {
            <li class="page-item disabled"><a class="page-link">&laquo;</a></li>
        }
        <li class="page-item disabled"><a class="page-link">@Model.Number</a></li>
        @if (Model.IsNext)
        {
            <li class="page-item"><a class="page-link" asp-controller="Photos" asp-action="PagedIndex" asp-route-page="@(Model.Number + 1)" asp-route-size="3">&raquo;</a></li>
        }
        else
        {
            <li class="page-item disabled"><a class="page-link">&raquo;</a></li>
        }
    </ul>
</nav>