@model aplikacja_zdjecia_z_wakacji.Models.Post

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}

<h1>Komentarze dotyczące zdjęcia @Model.Nazwa</h1>

<br />
<h3>Liczba komentarzy: @Model.Comments.Count()</h3>
<br />
<a asp-controller="Photos" asp-action="Index" class="btn btn-primary btn-lg">Wróć</a>
<br />

<div>
    @for (int i = Model.Comments.Count() - 1; i >= 0; i--)
    {
        <div class="card-body">
            <p class="card-text">
                <small class="text-muted">
                    Dodane przez: @Model.Comments[i].User @Model.Comments[i].Data
                </small>
            </p>
            <p class="card-text">@Model.Comments[i].Tresc</p>
        </div>

        if(i != 0){
            <hr>
        }
    }
</div>